.NavBar {
font-size: larger;
padding: 2%;
text-decoration: none;
color:  #003566;
/* color:  #ffd60a; */
}

.NavBarDiv {
	display:flex;
	justify-content: center;
	font-size: larger;
	padding: 1%;
	background-color: black;
	opacity: 0.85;
}
.NavBar:hover {
	color:  #ffd60a;
	border-bottom: solid 2px #ffd60a;
}

.ActiveNav {
	color:  #ffd60a;
}